@import url('https://fonts.googleapis.com/css?family=Bangers|Cuprum|Fredoka+One|Lora:400,400i|Montserrat:400,800|Open+Sans|Oswald:400,600|Raleway&display=swap');
 
* {
  padding: 0;
  margin: 0;
}

.shuffleColorsButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  border-radius: 2px;
  border: none;
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  20% { transform: translateY(-5px); }
  30% { transform: translateX(-7px); }
  60% { transform: translateY(3px); }
  70% { transform: translatex(5px); }
  100% { transform: translateY(0); }
}

.bounce {
  animation: bounce 1s;
}

.textFieldInputs {
  font-size:13px;
  padding:7px 7px 7px 4px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  margin-top: 7px;
  font-family: 'Open Sans';

}

input:focus { 
  outline:none; 
  border-bottom: 1px solid black;
}

.textFields {
  display: flex;
  flex-direction: column;
}


.companyName {
  text-transform: capitalize;
}

.sidebar {
  background-color: gray;
  padding: 25px;
  width: 360px;
  height: 100vh;
  box-sizing: border-box;
}

.colorsShuffle {
  display: flex;
  justify-content: space-between;

}

.colorBox{
  border: none;
  border-radius: 2px;
}

.changeFont {
  margin-right: 6px;
  
}

.main {
  display: flex;
  flex-direction: row;

}

.businessCard {
  width: 500px;
  height: 316px;
  background-color:gray;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.eMail {
  display: flex;
}

.rightBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-wrap: break-word;
}


